<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!-- new navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand nav-link" href="{% url 'home' %}">Galleria</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Search Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Food</a>
          <a class="dropdown-item" href="#">Art</a>
          <a class="dropdown-item" href="#">Beauty</a>
          <a class="dropdown-item" href="#">Nature</a>
        </div>
      </li>
    </ul>
    <form class="navbar-form form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">

         <div class="input-group">
           <input type="text" class="form-control" placeholder="Search Image" name="category">
           <div class="input-group-btn">
             <button class="btn btn-default" type="submit">Search</button>
           </div>
         </div>

       </form>
  </div>
</nav>
  <!-- new navbar end -->
<!-- <nav class="navbar navbar-inverse bg-warning">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">Galleria</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Search Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Food</a>
          <a class="dropdown-item" href="#">Beauty</a>
          <a class="dropdown-item" href="#">Art</a>
          <a class="dropdown-item" href="#">Nature</a>
        </div>
      </li>
    </div>
  </div>
  <!-- search form -->
  <!-- <div class="col-sm-4 col-md-4 navbar-right">
    <form class="navbar-form" role="search" action="{% url 'search_results' %}">

         <div class="input-group">
           <input type="text" class="form-control" placeholder="Search Article" name="category">
           <div class="input-group-btn">
             <button class="btn btn-default" type="submit">Search</button>
           </div>
         </div>

       </form>
  </div>
</nav> -->
</body>
</html>
